.flex-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    }

.flex-container > div {
    background-color: #fffefef6;
    margin-left: 310px;
    padding: 20px;
    margin-top: 100px;
    }

.flex-container > div > h2 {
    padding-bottom: 50px;
    }

.section{
    background-color: rgba(15, 12, 92, 0.134);
    padding: 25px 30px;
    margin-bottom: 20px;
}
.section h1{
    color: rgb(0, 0, 110);
}
.section h3{
    color: rgba(0, 0, 0, 0.526);
}

.section button {
    height: 38px;
    width: 125px;
    margin-top: 20px;
    color: white;
    background-color:#0b0d92d2;
    border-style: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.section button:hover{
    background-color: #0b0d929e;
    cursor: pointer;
  }
  .section button:active{
    color: yellow;
  }


