/* Styling for the admitted students container */
.admitted-students {
    position: absolute;
    left: 320px;
    top: 100px;
    width: 1100px;
}

/* Styling for the table */
.admitted-students table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 20px;
}

/* Styling for table header */
.admitted-students th {
    background-color: rgba(89, 89, 242, 0.871);
    padding: 10px;
    text-align: left;
}

/* Styling for table cells */
.admitted-students td {
    background-color: rgba(152, 152, 152, 0.66);
    padding: 10px;
}

/* Styling for links */
.admitted-students a {
    text-decoration: none;
    color: #001284;
}

.admitted-students a:hover {
    text-decoration: underline;
}
